@model IEnumerable<WebApplication17.ViewModels.RefundsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        
        <th>@Html.DisplayNameFor(model => model.NationalIdNumber) </th>
        <th>@Html.DisplayNameFor(model => model.ApplicantName) </th>
        <th>@Html.DisplayNameFor(model => model.BankName) </th>
        <th>@Html.DisplayNameFor(model => model.CountryName) </th>
        <th>@Html.DisplayNameFor(model => model.IBAN) </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NationalIdNumber)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
          
        </td>
    </tr>
}
    </tbody>
</table>
